.GoogleMap {
  // width: 50vw;
  height: 50vh;
}

.spinner-container {
  position: absolute;
  display: flex;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-spinner {
  margin: auto;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  border-right: 8px solid #3498db;
  border-bottom: 8px solid #3498db;
  border-left: 8px solid #00000000;;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
